

@import url("font-awesome.min.css");

*{
  margin: 0;
  padding: 0;
}
@font-face {
    font-family: 'Helvetica Neue';
    src: url('fonts/helveticaneue-thincondobl-webfont.eot');
    src: url('fonts/helveticaneue-thincondobl-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/helveticaneue-thincondobl-webfont.woff2') format('woff2'),
         url('fonts/helveticaneue-thincondobl-webfont.woff') format('woff'),
         url('fonts/helveticaneue-thincondobl-webfont.ttf') format('truetype'),
         url('fonts/helveticaneue-thincondobl-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
html {
  font-family: 'Helvetica Neue';
  width: 100%;
  height: 100%;
}
header{
  width: 100%;
  height: 36px;
  display: flex;
  justify-content: flex-end;
  background-color: #074e8c;
}
.menu1, .menu2{
  list-style: none;
  display: flex;
  font-size: 14px;
}
.menu1{
  color: #60b5ed;
}
.menu1>li{
  padding: 10px 9px 14px 14px;
}
.menu1>li:hover{
  background-color: #4eabda;
  color: white;
}
.menu2{
  color: white;
  margin: 0 20px;
}
.menu2>li{
  padding: 10px 9px 14px 14px;
}
.menu2>li:hover{
background: #7abcff; /* Old browsers */
background: -moz-linear-gradient(top,  #7abcff 0%, #60abf8 44%, #4eabda 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4eabda 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #7abcff 0%,#60abf8 44%,#4eabda 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4eabda',GradientType=0 ); /* IE6-8 */
}
.fa{
  color: white;
}
hr.header{
    border: none;
    color: #60b5ed;
    background-color: #60b5ed;
    width: 2px;
}
.wrapper{
  width: 100%;
  height: 100%;
  background-image: url(../img/backgroundImg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-content: center;
}
.logInContainer{
  width: 560px;
  height: 610px;
  margin: 15% 0;
}
.logHead{
  width: 100%;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.6);
  margin-bottom: 4px;
}
h1{
  font: inherit;
  font-size: 24px;
  color: white;
  display: block;
  text-align: center;
  line-height: 250%;
}
.logBody{
  width: 100%;
  height: 550px;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: white;
  font-size: 14px;
}
.facebookButton{
  width: 278px;
  height: 35px;
  background-image: url(../img/facebookButton.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}

.divader{
  text-align: center;
  color: #8e8e8e;
  height: 14px;
  width: 278px;
  background-image: url(../img/divader.png);
  background-repeat: no-repeat;
  background-position: center center;
}

form{
  display: flex;
  flex-grow: 0.6;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

input[type = "text"], input[type = "password"], input[type = "email"]{
height: 34px;
width: 258px;
background-color: #101010;
color: white;
font-size: 14px;
padding-left: 20px;
}
input[type = "text"]:focus, input[type = "password"]:focus, input[type = "email"]:focus{
background-color: #1b5288;
}

::-webkit-input-placeholder {color:white;}
::-moz-placeholder        {color:white;}/* Firefox 19+ */
:-moz-placeholder        {color:white;}/* Firefox 18- */
:-ms-input-placeholder   {color:white;}


input[type = "submit"]{
  width: 152.5px;
  height: 36px;
  background-color: transparent;
  background-image: url(../img/accountButton.png);
  border-radius: 2px;
  color: white;
  font-size: 14px;
  background-repeat: no-repeat;
  background-size: cover;
}

.logBody>p{
  text-align: center;
  font-size: 11px;
  padding: 0 120px;
}
